/*
VARIABLES
 */
:root {
    --white: #FFFFFF;
    --light-beige: #FBF8F1;
    --medium-beige: #F7ECDE;
    --dark-beige: #E9DAC1;
    --blue: #54BAB9;
    --dark-blue: #3e8c8b;
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --border-radius: 4px;
}

body {
    background: var(--light-beige);
    height: 100%;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--blue);
    font-weight: 700;
    font-size: 64px;
}

.todo {
    width: 800px;
    height: 100%;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.todo-buttons {
    display: flex;
    justify-content: space-between;
}

.todo-buttons.filters {
    margin-top: 1.5rem;
}

button {
    background: var(--blue);
    color: var(--white);
    padding: 0.5rem;
    font-weight: 500;
    border: none;
    font-size: 16px;
    transition: background 0.25s, color 0.25s;
    border-radius: var(--border-radius);
}

button:hover {
    background: var(--dark-blue);
    cursor: pointer;
}

.todo-list-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-radius: var(--border-radius);
    border: 1px solid var(--blue);
    padding: 1rem;
    margin-top: 2rem;
    transition: box-shadow 0.25s;
}

.todo-list-item p {
    margin-top: 0;
}

.todo-list-item:hover {
    box-shadow: var(--box-shadow);
}

.todo-list-item-inner-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.todo-list-item-inner-3 {
    text-align: right;
}
