/*
VARIABLES
 */
:root {
    --white: #FFFFFF;
    --bg: #FBF8F1;
    --bg-light: #FFFFFF;
    --medium-beige: #F7ECDE;
    --dark-beige: #E9DAC1;
    --blue: #54BAB9;
    --dark-blue: #3e8c8b;
    --box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    --border-radius: 4px;
}

.dark-mode {
    --bg: #303030;
    --bg-light: #303030;
    color: var(--white);
}

body {
    background: var(--bg);
    height: 100%;
    margin: 0;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--blue);
    font-weight: 700;
    font-size: 64px;
}

.show {
    display: block;
}

.todo {
    width: 800px;
    height: 100%;
    background: var(--bg-light);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.dark-mode .todo {
    border: 1px solid var(--white);
}

.todo-buttons {
    display: flex;
    justify-content: space-between;
}

.todo-buttons.filters {
    margin-top: 1.5rem;
}

.btn {
    background: var(--blue);
    color: var(--white);
    padding: 0.5rem;
    font-weight: 500;
    border: none;
    font-size: 16px;
    transition: background 0.25s, color 0.25s;
    border-radius: var(--border-radius);
}

.btn:hover {
    background: var(--dark-blue);
    cursor: pointer;
}

.todo-list-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    border-radius: var(--border-radius);
    border: 1px solid var(--blue);
    padding: 1rem;
    margin-top: 2rem;
    transition: box-shadow 0.25s;
}

.todo-list-item p {
    margin-top: 0;
}

.todo-list-item:hover {
    box-shadow: var(--box-shadow);
}

.todo-list-item-inner-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.todo-list-item-inner-3 {
    text-align: right;
}

form#todo-form {
    display: none;
}

form#todo-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

form#todo-form .form-group.date {
    display: flex;
    align-items: start;
}

form#todo-form input#status {
    margin-left: 0;
}

form#todo-form .form-group label {
    margin-bottom: 0.5rem;
}

textarea {
    min-height: 100px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    border-width: 1px;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus{
    outline: 2px solid var(--blue);
}
